*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Neue Haas Grotesk Display Pro;
}
html body{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}
.page1{
    min-height: 50vh;
    background-color: aliceblue;
    width: 100%;
}
nav{
    height: 5.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2.5vw;
    box-shadow: 0 2px 15px rgba(0,0,0,0.6);
    position: sticky;
    top: 0;
    z-index: 999;
    background: #E3E6F3;
}
nav img{
    width: 11.5vw;
}
#menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5vw;
}
#menu li a{
    text-decoration: none;
    color: #000;
}
.mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
/* page1 */
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(img/hero4.png);
    background-position: center;
    z-index: 1;
    background-size: cover;
}
.left{
    text-align: left;
    padding: 13vw 1vw 0vw 5vw;
}
.left h2{
    font-size: 4vw;
    margin-top: 0.7vw;
}
.left h1{
    color: rgb(3, 119, 119);
    font-size: 4vw;
    letter-spacing: 0.1vw;
    margin-top: -0.6vw;
}
.left p{
    font-size: 1vw;
    color: grey;
    padding: 1vw 0;
}
.left button{
    background-image: url(img/button.png);
    background-position: center;
    background-size: cover;
    border: none;
    padding: 1vw 4vw;
    font-size: 1.1vw;
    font-weight: 900;
    color:rgb(3, 119, 119) ;
    background-color: transparent;
    cursor: pointer;
}

/* page2 */
.features{
    padding: 3vw;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.fea-box{
    text-align: center;
    width: 170px;
    padding: 20px 10px;
    box-shadow: 0.5px 0.5px 30px rgba(0, 0, 0, 0.3);
    border: 0.5px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.2s;
}
.fea-box:hover{
    box-shadow: 0.1px 0.1px 35px rgba(70, 62, 221, 0.1);
}
.fea-box h6{
    font-size: 0.9vw;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    margin-top: 0.5vw ;
}
.fea-box img{
    width: 100%;
}
.features .fea-box:nth-child(2) h6{
    background-color:#cdebbc ;
}
.features .fea-box:nth-child(3) h6{
    background-color:#d1e8f2 ;
}
.features .fea-box:nth-child(4) h6{
    background-color:#cdd4f8 ;
}
.features .fea-box:nth-child(5) h6{
    background-color:#f6dbf6 ;
}
.features .fea-box:nth-child(6) h6{
    background-color:#fff2e5 ;
}

.product1{
    padding: 3vw 0;
    text-transform: capitalize;
    text-align: center;
}
.product1 h2{
    font-size: 4vw;
    margin-bottom: 1vw;
}
.product1 .pro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    
}
.product1 .pro{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
    margin: 15px 20px;
    transition: 0.2s ease;
    position: relative;
}
.product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
.product1 .pro:hover{
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.6);
}
.product1 .pro .des{
    text-align: left;
    padding: 10px 0;
}
.product1 .pro .des span{
    color: #5a5a5a;   
}
.product1 .pro .des h5{
    padding-top: 7px ;
    font-size: 14px;
    color: #1a1a1a;
}
.product1 .pro .des i{
    font-size: 12px;
    color: rgba(243, 181, 25);
}
.product1 .pro .des h4{
    padding-top: 7px;
    font-size: 17px;
    font-weight: 700;
    color: #088178;
    display: inline-block;
}
.product1 .pro .des h4:hover{
    border-bottom: 0.5px solid #088178;
}
.product1 .pro .cart{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    text-decoration: none;
    position: absolute;
    bottom: 17px;
    right: 10px;
    transition: .2s;
}
.product1 .pro .cart:hover {
    background-color: #088178;
    color: white;
}

/* banner */
.banner{
    padding: 2vw 3vw;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
    height: 45vh;
    justify-content: center;
}
.banner h4{
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 3vw;
}
.banner h2{
    font-size: 4vw;
    font-weight: 700;
    padding: 10px 0;
}
.banner h2 span{
    color: #ef3636;
}
.banner button{
    padding: 11px 30px;
    font-size:15px;
    font-weight: 600;
    color: #000;
    background-color: #ffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .2s;
    margin: 0.8vw 0;
}
.banner button:hover{
    background-color:#088178 ;
    color: #fff;
}

/* sm-banner */
.sm-banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sm-banner .banner-box{
    padding: 30px;
    text-align: left;
    background-image: url(img/banner/b17.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    min-width: 590px;
    height: 50vh;
    align-items: center;
}
.sm-banner .banner-box2{
    background-image: url(img/banner/b10.jpg);
    background-position: center;
    background-size: cover;
}
.sm-banner .banner-box h4{
    margin-top: 5vw;
    font-size: 20px;
    font-weight: 400;
}
.banner-box h2{
    font-size: 33px;
    padding: 5px 0;
    font-weight: 800;
}
.sm-banner .banner-box span{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
    letter-spacing: 0.1vw;
}
.sm-banner .banner-box button{
    margin: 2vw 0;
    border: 1px solid #fff;
    background: none;
    padding:11px 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    font-size: 1vw;
}
.sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}
.banner3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4vw 0;
}
.banner3 .banner-box{
    padding: 20px;
    text-align: left;
    background-image: url(img/banner/b7.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    min-width: 27.8%;
    height: 30vh;
    align-items: center;
    margin-bottom: 20px;
}
.banner3 h2{
    margin-top: 2.5vw;
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
.banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}
.banner3 .banner-box2{
    background-image: url(img/banner/b4.jpg);
    background-position: center;
    background-size: cover;
}
.banner3 .banner-box3{
    background-image: url(img/banner/b18.jpg);
    background-position: center;
    background-size: cover;
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4.5vw;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-size: cover;
    background-color: #041e42;
    height: 25vh;
    color: white;
}
.newsletter .newstext h4{
    font-size: 2vw;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 0.5vw;
}
.newsletter .newstext p{
    font-size: 01vw;
    color: grey;
}
.newsletter .newstext p a{
    color: #ffbd27;  
    text-decoration: none;  
}
.form{
    display: flex;
    align-items: center;
}
.newsletter input{
    height: 3.125rem;
    padding: 0 2em;
    font-size: 14px;
    width: 30vw;
    border: 1px solid transparent;
    outline: none;   
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px ;
}
.newsletter button{
    height: 3.125rem;
    padding: 0 1em;
    width: 10vw;
    border: none;
    background-color: #088178;
    white-space: nowrap;
    padding:10px 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    font-size: 1vw;
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px ; 
}
/* footer */
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 3vw;
}
.footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.footer .col .logo{
    margin-bottom: 30px;
}
.footer .col h4{
    font-size: 14px;
    padding-bottom: 20px;
}
.footer .col p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
.footer .col a{
    font-size: 13px;
    text-decoration: none;
    margin: 0 0 8px 0;
    color: #222;
    margin-bottom: 10px;
}
.footer .col .follow{
    margin-top: 20px;
}
.footer .col i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
.footer .col .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
.footer .col img{
    margin: 10px 0 15px 0;
}
.footer .col .follow i:hover, .footer a:hover {
    color: #088178;
}
.copy-right p{
    text-align: center;
    padding: 2vw;
}

/* start our media query */

@media (max-width:799px) {
    nav{
        height: 10vw;
    }
    #menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1px);
        padding: 80px 0 0 30px;
        transition: 0.3s;
    }
    #menu.active{
        right: 0;
        z-index: 999;
    }
    #menu li{
        margin-bottom: 25px;
        font-size: 2vw;
    }
    .mobile{
        display: flex;
        align-items: center;
    }
    .mobile i{
        color: #1a1a1a;
        font-size: 21px;
        padding-left: 20px;
        cursor: pointer;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        text-decoration: none;
    }
    .hero {
        height: 50vh;
        padding: 0 40px;
        background-position:top 30% right 30%;
    }
    .left {
        padding: 20vw 1vw 0vw 0;
        font-size: 8vw;
    }
    .fea-box h6 {
        font-size: 2.2vw;
    }
    .product1 .pro {
        width: 10%;
        min-width: 150px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
        margin: 15px 20px;
        transition: 0.2s ease;
        position: relative;
    }
    .banner {
        padding: 3vw;
        height: 21vh;
        margin-bottom: 3vw;
    }
    .banner h4 {
        font-size: 3vw;
        margin-top: 4.6vw;
    }
    .banner button {
        padding: 7px 22px;
        font-size: 10px;
        font-weight: 600;
        color: #000;
        background-color: #ffff;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: .2s;
        margin: 0.8vw 0;
    }
    .fea-box {
        margin: 15px 10px;
    }
    .sm-banner .banner-box {
        background-position: top 0 left 70%;
        min-width: 590px;
        height: 30vh;
        margin: 0 5vw 1vw 3vw;
    }
    .banner3 .banner-box {
        min-width: 23.8%;
        height: 15vh;
    }
    .newsletter {
        height: 15vh;
    }
    .newsletter .newstext h4 {
        font-size: 3vw;
    }
    .newsletter .newstext p {
        font-size: 1.5vw;
    }
    .footer .col {
        width: 18vw;
    }
    .footer .col img {
        margin: 1px 0 5px 0;
    }
    .footer .col .row img {
        width: 15vw;
    }
}
@media (max-width:399px) {
    .fea-box {
        margin-right: -5px;
    }
    .sm-banner .banner-box {
        min-width: 440px;        
        margin-bottom: 3vw;
    }
    .banner {
        height: 17vh;
    }
    .newsletter input {
        height: 5vw;
        padding: 0 1em;
        font-size: 8px;
    }
    .newsletter button {
        height: 5vw;
        width: 10vw;
        padding: 6px;
        font-size: 8px;
    }
    .banner3 h2 {
        margin-top: -2.5vw;
        font-size: 15px;
    }
    .icon{
        width: 30vw;
    }
}

/* shop page */

.page-header .left{
    color: #fff;
    font-size: 3.65vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-image: url(img/banner/b1.jpg);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
.pagination{
    text-align: center;
    padding: 3vw 4vw;
}
.pagination a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    background-color: #088178;
    padding: 0.7vw 1vw;
    border-radius: 4px;
}
.pagination a i{
    font-size: 1vw;
    font-weight: 600;
}

/* single prodcuts */
#prodetails{
    display: flex;
    margin-top: 2vw;

}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 5vw;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding: 3vw ;
}
.single-pro-details h4{
    font-size: 1.7vw;
    padding: 2vw 0;
}
.single-pro-details select{
    display: block;
    padding: .1vw .2vw;
    cursor: pointer;
    outline: none;
    margin: 0.8vw 0;
}
.single-pro-details input{
    height: 2vw;
    width: 3.8vw;
    padding: 5px 10px;
}
.single-pro-details button{
    padding: 5px 12px;
    background-color: #088178;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 1.5vw;
}
.single-pro-details h4{
    font-size: 1.5vw;
}
.single-pro-details span{
    font-size: 01.1vw;
    color: grey;
    line-height:1.6vw;
}

@media (max-width:399px) {
    .page-header .left{
        height: 25vh;
    }
    .page1 {
        min-height: 30vh;
     }
     .product1 .pro {
        min-width: 228px;
        margin: 15px 74px;
    }
}